body {
    background-size: cover;
}

.heading {
    font-size: 20px;
    width: 20%;
    margin-top: 10;
}

.footer {
    width: 100%;
    font-size: 20px;
    color: black;
    text-align: center;
    background-color: blue;
    bottom: 0;
    position: fixed;
}

canvas {
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px blue;
    margin-top: 100;
}